@using PagedList.Mvc;
@model PagedList.IPagedList<MarketPlace.Models.TradePlace>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<form asp-controller="Home" asp-action="Index">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            Size
        </th>
        <th>
            Address
        </th>
        <th>
            Name
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink(item.Name, "ShowDetails", new { id = item.Id })
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>

                
                    @Html.ActionLink("Edit place", "EditPlace", new { id = item.Id })|
                    @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                
                </td>
            }
        </tr>
    }

</table>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Add New tradepalce", "AddPlace") |
    @Html.ActionLink("Add New employee", "CreateEmployeeOnMainPage")
</p>
}

<p>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
</p>
@Html.PagedListPager(Model, page => Url.Action("Index", new { ViewBag.searchString, page }))

