@model IEnumerable<MarketPlace.Models.TradePlace>

@{
    ViewBag.Title = "Index";
}

<form asp-controller="Home" asp-action="Index">
    <p>
        <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>

<p>

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit place", "EditPlace", new { id = item.Id }) |
                @Html.ActionLink("Staff", "ShowDetails", new { id = item.Id }) |
                @Html.ActionLink("Remove", "Remove", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Add New tradepalce", "AddPlace") |
    @Html.ActionLink("Add New employee", "CreateEmployeeOnMainPage")
</p>
